* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: #7477BF;
  color: #fff;
  padding: .4em 1.25em .4em 1.25em;
}

.header__logo a {
  text-decoration: none;
}

h1{
  font-size: 1em;
  color: #fff;
}
