* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: #7477BF;
  color: #fff;
  padding: .4em 1.25em .4em 1.25em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 1em;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.svg-bell {
  width: 20px;
  height: 20px;
}

.header__right--dot {
  background-color: #00ff00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: -1.3em;
  margin-left: -.1em;
}

.header__right--divider {
  background-color: #36454f;
  width: 1px;
  height: 30px;
  margin-left: 1.2em;
}

.header__right--avatar {
  margin-left: 1em;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header__right--name {
  font-size: .8em;
  margin-left: .8em;
}
