/****************************************
Base
*****************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/****************************************
Header
*****************************************/

header {
  display: flex;
  background-color: #7477bf;
  color: #fff;
  padding: .4em 1.25em .4em 1.25em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 1em;
}

#header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-bell {
  width: 20px;
  height: 20px;
}

#header-right-dot {
  background-color: #00ff00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: -1.3em;
  margin-left: -.1em;
  transition: visibility .25s, opacity .25s;
}

#header-right-divider {
  background-color: #36454f;
  width: 1px;
  height: 30px;
  margin-left: 1.2em;
}

#header-right-avatar {
  margin-left: 1em;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#header-right-name {
  font-size: .8em;
  margin-left: .8em;
}

/****************************************
Navigation
*****************************************/

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 52px;
  background-color: #4d4c6f;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
}

.icon-dashboard,
.icon-members,
.icon-visits,
.icon-settings {
  width: 25px;
  height: 25px;
}

/****************************************
Dashboard Main Styles
*****************************************/

.dashboard-top-container {
  display: flex;
  flex-direction: column;
}

.tab-search-container {
  display: flex;
  flex-direction: row;
}

.dashboard-tab {
  padding: 1em;
  color: #808080;
  width: fit-content;
  height: fit-content;
}

.shaded-background {
  background-color: #f8f8f8;
  border-left: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
  width: 100%;
  height: 51px;
}

/****************************************
Alert Message
*****************************************/

#alert {
  display: flex;
  justify-content: space-between;
  background-color: #7477bf;
  color: #fff;
  width: 90%;
  height: max-content;
  margin: 1em auto 1em;
  border-radius: 5px;
  padding: .8em;
  transition: visibility .25s, opacity .25s;
}

.alert-text {
  margin-right: .5em;
}

.alert-bold {
  font-weight: 700;
  margin-right: .5em;
}

.alert-message {
  font-weight: 300;
}

.cross-img {
  width: 15px;
  height: 15px;
}

/****************************************
Tablet Styles
*****************************************/

@media (min-width: 768px) {
  .nav-list {
    width: 33%;
    justify-content: space-between;
  }
}

/****************************************
Desktop Styles
*****************************************/

@media (min-width: 1024px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
    height: 100%;
  }
  .nav-list {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 300px;
  }
  .dashboard-wrapper {
    display: flex;
  }
  .dashboard-top-container {
    width: 100%;
  }
}
